/.vscode
/__pycache__
/auto_marian.py
/conversation_1.json
/lid.176.bin
/llama_chatbot.py
/llama_import.py
/llama_roles.py
/llama_speach_text.py
/llama_speech_chat.py
/llama_turkish_chat.py
/llama_user_register.py
/llama_whisper.py
/llama_whisper_json_date.py
/marian
/marian.cpp
/marian.dSYM
/marian_multi_translate.py
/marian_multi_translate_speak.py
/marian_text_translater.py
/marian_voice_translater.py
/output.wav
/proje.ipynb
/record1.wav
/record2.wav
/record3.wav
/record4.wav
/record5.wav
/temp.wav
/translate.py
/user_info.json
/user_project.py
/whisper_test.py
/xtts